/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important;
  float: none;

h2 
  color: $mintMist;

h3 
  color: $cottonBlue;

img 
  padding-bottom: 5%;

img:nth-child(odd)
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  padding-left: 5%;

img:nth-child(even)
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding-right: 5%;

.next a
    color: $lavendar;
    font-style: italic;

.prev a
    color: $purple;
    font-style: italic;

.prev a:hover, .next a:hover
    text-decoration: underline;

h4, th 
  color: $perriwinkle;
  text-decoration: underline;

span.emphasis 
  text-decoration: underline;
  background-color: $canary;