/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$mintMist = #3eaf7c
$aquaBlue = #5facb8
$cottonBlue = #3e6f8c
$perriwinkle = #5f6ab8
$lavendar = #717ac0
$textColor = #2c3e50
$darkerHead = #252A3B
$borderColor = #eaecef
$codeBgColor = #282c34
