body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}
#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  /* height: 195px; */
  margin-bottom: 40px;
  width: 230px;
  overflow-y: hidden;
}
.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.legend-btn {
  padding: 0;
  border: none;
  background: none;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  outline: none;
}
.inactive,
.legend-btn:hover {
  color: #616161;
}

.legend-control {
  float: right;
  cursor: pointer;
  padding-bottom: 5px;
  font-size: 1.2em;
}
.map-centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.logo {
  position: absolute;
  height: 29px;
  top: 13px;
  left: 13px;
  z-index: 10000;
}

.gp-disclaimer {
  position: absolute;
  height: 29px;
  bottom: 0px;
  right: 13px;
  z-index: 10000;
  color: white;
  font-size: smaller;
}

.learn-more-link {
  text-decoration: auto;
  background: #d3d8da;
  border-radius: 2px;
  padding: 1px;
}
